.Wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1200px;
  padding-bottom: 24px;
  padding-inline: 24px;
  width: 100%;

  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px; /* or 150% */
  
  text-align: justify;
  
  color: #525252;
}

.Header {

}

.Title {
  font-family: BioRhyme;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 40px; /* or 111% */
  
  text-align: justify;
  
  color: #8DC9E6;
}

.Pi {
  color: #8DC9E6;
  font-weight: bold;
}

.Member {
  color: #4F4F4F;
  font-weight: bold;
}

.Outputs {
  border-left: 24px solid #8DC9E6;
  color: #4F4F4F;
  font-family: BioRhyme;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  padding: 12px 12px 0;
  width: 100%;
}

.OutputsList {
  padding: 0;

  & li {
    list-style: none;
  }
}

.OutputsLink {
  color: #4F4F4F;
  display: block;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  /* line-height: 24px; */
  margin-block-end: 24px;
}