/* @import "open-props/media.min.css"; */



:root {
  --brand-color: #153d59;
  --color-light: #fff;
}

html,
body {
  background-color: var(--brand-color);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  padding: 0;
}

* {
  box-sizing: border-box;
}


:where(a[href]) {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}