.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  min-height: 100vh;

}

.Loading {
  color: white;
}


.Logo {
  pointer-events: none;
  max-width: 450px;
  width: 80vw;
}

.Title {
  animation: fadeIn 1s 2.2s ease-in-out forwards;
  color: var(--color-light);
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  opacity: 0;
  padding-left: 3ch;
}
.Lines {
  background-color: #50B693;
  height: 20px;
  width: 100%;
}

@media (min-width: 480px) {
  .Title {
    font-size: 28px;
  }
}

@keyframes fadeIn {
  100% {
    opacity: 1;
  }
}
