.content {
  margin: 0 auto;
  max-width: 1200px;
  padding: 12px;
}

.Loading {
  color: white;
}

.Title {
  background-color: #efefef;
  font-size: 24px;
  padding: 2ch;
  text-align: center;
}

.SectionTitle {
  border-bottom: 1px dashed #bdbdbd;
  font-size: 24px;
  padding: 0.5ch;
}

.Title, .SectionTitle {
  font-family: 'BioRhyme', serif;
  font-weight: 700;
}
